# Datasets
data/*

#Jupyter Notebook checkpoints
.virtual_documents
.ipynb_checkpoints

# Vs code settings
.vscode

#Python caches
__pycache__

#Saved Model weights
/models/

#Virtual environments
.env