<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Image Loader</title>
</head>
<body>
    <nav class="navbar navbar-light bg-danger mb-5">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" href="/"><span class="fs-8 fw-bold text-light">Background Blur with Image Segmentation</span></a>
        </div>
    </nav>
    <div class ="container">
        <form action='/' method = "post" enctype='multipart/form-data'>
            <input type='text', name='image[name]', placeholder='Image name'/>
            <input type='file', name='image'/>
            <input type='submit', value='Upload'/>
        </form>
        <hr>
    </div>
</body>
</html>